#nugget {
    width: 200px;
    height: 200px;
    background-image: url('');
    background-size: cover;
    cursor: pointer;
}

button {
    margin: 5px;
    padding: 10px;
}

#store{
    display: flex;
    flex-direction: column;
}